extends ../layout/admin

block content
    div.py-10
        h1.text-4xl.my-5.font-bold.text-center Real
            span.font-normal State
        div(class="flex justify-end")
            a(href="/properties/create" class="rounded-sm py-2 px-8 bg-indigo-600 text-white hover:bg-indigo-700 transition-all ease-in-out text-sm inline-block w-full md:w-auto font-semibold capitalize my-5") Publish Property

        if properties.length
            div(class="bg-white shadow rounded-sm")
                ul(class="divide-y divide-gray-200")
                    each property in properties
                        li
                            div(class="p-6 w-full flex flex-col sm:flex-row sm:items-center space-y-8 md:space-y-0 gap-4 items-center")
                                div(class="sm:w-1/4 md:w-1/6 lg:w-1/6")
                                    img(src=`uploads/${property.image}` alt=`${property.name}` class="w-full block") 
                                div(class="sm:w-2/4 md:w-3/6 lg:w-4/6 space-y-2")
                                    a(class="block text-2xl font-extrabold text-indigo-600 truncate" href=`/property/${property.id}`)=property.title

                                    div(class="flex gap-2 items-center")
                                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 text-indigo-600">
                                            <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 12l8.954-8.955c.44-.439 1.152-.439 1.591 0L21.75 12M4.5 9.75v10.125c0 .621.504 1.125 1.125 1.125H9.75v-4.875c0-.621.504-1.125 1.125-1.125h2.25c.621 0 1.125.504 1.125 1.125V21h4.125c.621 0 1.125-.504 1.125-1.125V9.75M8.25 21h8.25" />
                                        </svg>
                                        p(class="text-sm text-black font-semibold")=property.category.name

                                    div(class="flex gap-2 items-center")
                                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 text-indigo-600">
                                            <path stroke-linecap="round" stroke-linejoin="round" d="M20.25 6.375c0 2.278-3.694 4.125-8.25 4.125S3.75 8.653 3.75 6.375m16.5 0c0-2.278-3.694-4.125-8.25-4.125S3.75 4.097 3.75 6.375m16.5 0v11.25c0 2.278-3.694 4.125-8.25 4.125s-8.25-1.847-8.25-4.125V6.375m16.5 0v3.75m-16.5-3.75v3.75m16.5 0v3.75C20.25 16.153 16.556 18 12 18s-8.25-1.847-8.25-4.125v-3.75m16.5 0c0 2.278-3.694 4.125-8.25 4.125s-8.25-1.847-8.25-4.125" />
                                        </svg>
                                        p(class="text-sm text-black font-semibold")=property.price.name

                                div(class="w-full md:w-2/6 lg:w-1/6 flex flex-col gap-2")  
                                    form(action="")
                                        input( type="submit" class=`text-center w-full my-2 px-5 py-2 text-xs font-semibold rounded cursor-pointer text-white ${property.public ? 'bg-green-200 text-green-800': 'bg-red-200 text-red-800'}` value=`${property.public ? 'Public': 'Not Public'}` )

                                    a(href=`/properties/edit/${property.id}` class="text-center w-full px-5 py-2 text-xs font-semibold rounded cursor-pointer text-white bg-indigo-600 texxt-indigo-100") Edit

                                    form( method="POST" action=`/properties/delete/${property.id}`)
                                        input(type="hidden" name="_csrf" value=csrfToken)
                                        input( type="submit" class="text-center w-full my-2 px-5 py-2 text-xs font-semibold rounded cursor-pointer text-white bg-red-500" value="Delete" )
                        
        else 
            p.text-center Dont have properties, you need go to "Publish Property" to create one